body{
    position: relative;
    margin-top: 80px;
    min-height: 150vh;   
}
.navbar{
    background-color: white !important;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    border-bottom: 2px solid #91f2cb;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.header{
    min-height: 80vh;
    width: 100%;
    border-radius: 15px;
 background-color: #91f2cb;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.footer{
    width: 100%;
    min-height: 40vh;
    margin-top: 10vh;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(255, 228, 196);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

ul > li{
    list-style-type: none;
    font-size: small;
}
ul > .btn{
    max-height: 30px;
    width: 80%;
}
